POSTGRES_DB="secret"
POSTGRES_USER="secret"
POSTGRES_PASSWORD="secret"
PGADMIN_EMAIL="secret"
PGADMIN_PASSWORD="secret"

# CLIENT

CLIENT_API_URL=http://localhost:3001/api
CLIENT_SSR_API_URL=http:/backend:3001/api
CLIENT_STATIC_URL=http://localhost:3001
CLIENT_PORT=3000

#SERVER

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
PORT=3001
SALT_ROUNDS=10
JWT_SECRET="MYJWTSECRET"